* {
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

/*header large size, google font, centered*/
    h1 {
        
        color: whitesmoke;
        text-align: center;
        font-size: 150px;
        font-family: 'Playfair Display', serif;
        
    }

    h2 {
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
        background-image: linear-gradient(#111, #050505);
        --img-url: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=350&h=350&fit=crop&crop=faces);
         }
    
    
    .headshot {
        flex-direction: row;
        margin-top: 100px;
        height: calc(150px + 8vw);
        width: calc(150px + 8vw);
        border: calc(8px) solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-sizing: border-box;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    /*altered radius to smooth square corners*/
    .headshot-1 {
        border-radius: 30%;
        background-image: var(--img-url), linear-gradient(#2737c7, #13da55);
    }
    /*altered radius to make circle*/
    .headshot-2 {
        border-radius: 50%;
        background-image: var(--img-url), linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
    }
    /*altered radius on top left/bottom right to circular and smoothed edges top right/bottom left*/
    .headshot-3 {
        border-radius: 50% 10%;
        background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f8cf03);
    }   
    
    /*small change in background colour*/
    body  {
        background-image: linear-gradient(#111, #050505);}

    h3 {
        justify-content: center;
        color: whitesmoke;
    }
  
 .media {
     color: whitesmoke;
 }   

.card {
    color: whitesmoke;
    background-color: black;
    padding-top: 50px;
}

.card a{
    font-size: 40px;
    padding-right: 60px;
}
/*hover section makes border background white when cursor on it*/
.card a:hover {
    background-color: #ddd;
    color: black;
}
.work {
    text-align: center;
    font-size: 40px;
    padding-top: 75px;
    }

.work img {
    padding-top: 50px;
    width: 75%;
    height: 600px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 80%;
    float: right;
    padding-right: 15px;
}



 

 